<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640, user-scalable=no">

    <script>
        if (window.screen.width >= 640) {
            window.location.href="/"
        }
    </script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>立信创源 二维码营销/管理方案提供商</title>

    <link rel="stylesheet" href="/plugs/swiper/swiper-3.3.1.min.css">
    <link href="/plugs/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/css/indexPhone.css" rel="stylesheet" type="text/css">

</head>
<body>
<!--加载页-->
<div class="loading">
    <div class="loadCon">
        <img src="https://pop.letsun.com.cn/letsunImage/phone/loading.png">
        <div id="percent">1%</div>
    </div>
</div>

<div class="container" id="container">
    <div class="header">
        <img class="logo" src="https://pop.letsun.com.cn/letsunImage/phone/1/1_1.png" alt="">
        <img class="cate" id="cate" src="https://pop.letsun.com.cn/letsunImage/phone/1/1_2.png" alt="">
        <div class="cate-list">
            <div class="cate-item active" data-type="1">服务</div>
            <div class="cate-item" data-type="2">案例</div>
            <div class="cate-item" data-type="3">大数据</div>
            <div class="cate-item" data-type="4">联系</div>
        </div>
    </div>
    <div class="wp">
        <div class="wp-inner">
            <div class="page page1">
                <div class="swiper-container" id="swiper_1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/phone/11/11_6.jpg" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://pop.letsun.com.cn/letsunImage/phone/11/11_4.png" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="/images/phone/11/11_7.jpg" alt="">
                        </div>

                    </div>

                    <div class="swiper-pagination"></div>
                </div>
                <img class="arrow" src="https://pop.letsun.com.cn/letsunImage/phone/11/11_2.png" alt="">
            </div>

            <div class="page page2">
                <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_1.png" alt="">
                <img class="img2 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_2.png" alt="" data-animate="left ease 0.7s forwards" data-delay="0">
                <img class="img3 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_3.png" alt="" data-animate="right ease 0.7s forwards" data-delay="0">
                <img class="img4 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_4.png" alt="" data-animate="right ease 0.7s forwards" data-delay="300">
                <img class="img5 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_5.png" alt="" data-animate="left ease 0.7s forwards" data-delay="300">
                <img class="img6 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_6.png" alt="" data-animate="left ease 0.7s forwards" data-delay="500">
                <img class="img7 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_7.png" alt="" data-animate="right ease 0.7s forwards" data-delay="500">
                <img class="img8 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_8.png" alt="" data-animate="right ease 0.7s forwards" data-delay="700">
                <img class="img9 ani" src="https://pop.letsun.com.cn/letsunImage/phone/2/2_9.png" alt="" data-animate="left ease 0.7s forwards" data-delay="700">
            </div>

            <div class="page page3">
                <div class="swiper-container" id="swiper_2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide_1">
                            <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_1.png" alt="">
                            <img class="img2" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_2.png" alt="" data-animate="down ease 0.8s" data-delay="300">
                            <img class="img3" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_3.png" alt="" data-animate="down ease 0.8s" data-delay="600">
                            <img class="img4" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_4.png" alt="" data-animate="down ease 0.8s" data-delay="900">
                            <img class="img5" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_4.png" alt="" data-animate="down ease 0.8s" data-delay="900">
                            <img class="img6" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_6.png" alt="" data-animate="down ease 0.8s" data-delay="900">
                            <img class="img7" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_7.png" alt="" data-animate="down ease 0.8s" data-delay="900">
                            <img class="img8" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_8.png" alt="" data-animate="down ease 0.8s" data-delay="900">
                            <img class="img9" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_9.png" alt="" data-animate="down ease 0.8s" data-delay="900">
                            <img class="img10" src="https://pop.letsun.com.cn/letsunImage/phone/3/3_10.png" alt="" data-animate="down ease 0.8s" data-delay="900">
                        </div>
                        <div class="swiper-slide swiper-slide_2">
                            <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_1.png" alt="">
                            <img class="img2" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_2.png" alt="">
                            <img class="img3 ani" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_3.png" alt="" data-animate="right ease 0.8s" data-delay="300">
                            <img class="img4 ani" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_4.png" alt="" data-animate="right ease 0.8s" data-delay="600">
                            <img class="img5 ani" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_5.png" alt="" data-animate="right ease 0.8s" data-delay="900">
                            <img class="img6 ani" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_6.png" alt="" data-animate="right ease 0.8s" data-delay="1200">
                            <img class="img7" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_7.png" alt="">
                            <img class="img8" src="https://pop.letsun.com.cn/letsunImage/phone/4/4_8.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-slide_3">
                            <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/7/7_1.png" alt="">
                            <img class="img2" src="https://pop.letsun.com.cn/letsunImage/phone/7/7_2.png" alt="">
                            <img class="img3" src="https://pop.letsun.com.cn/letsunImage/phone/7/7_3.png" alt="">
                            <img class="img4" src="https://pop.letsun.com.cn/letsunImage/phone/7/7_4.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-slide_4">
                            <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/8/8_1.png" alt="">
                            <img class="img2" src="https://pop.letsun.com.cn/letsunImage/phone/8/8_2.png" alt="">
                            <img class="img3" src="https://pop.letsun.com.cn/letsunImage/phone/8/8_3.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-slide_5">
                            <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/5/5_1.png" alt="">
                            <img class="img2" src="https://pop.letsun.com.cn/letsunImage/phone/5/5_2.png" alt="">
                            <img class="img3" src="https://pop.letsun.com.cn/letsunImage/phone/5/5_3.png" alt="">
                            <img class="img4" src="https://pop.letsun.com.cn/letsunImage/phone/5/5_4.png" alt="">
                        </div>
                        <div class="swiper-slide swiper-slide_6">
                            <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_1.png" alt="" data-animate="down ease 0.8s">
                            <img class="img2" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_2.png" alt="" data-animate="down ease 0.8s">
                            <div class="line line1 ani" data-animate="widthItem_1 ease 0.8s" data-delay="300">
                                <img src="https://pop.letsun.com.cn/letsunImage/phone/6/6_3.png" alt="">
                            </div>
                            <div class="line line2 ani" data-animate="widthItem_2 ease 1s" data-delay="600">
                                <img src="https://pop.letsun.com.cn/letsunImage/phone/6/6_4.png" alt="">
                            </div>
                            <div class="line line3 ani" data-animate="widthItem_3 ease 1.2s" data-delay="900">
                                <img src="https://pop.letsun.com.cn/letsunImage/phone/6/6_5.png" alt="">
                            </div>

                            <img class="img13" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_13.png" alt="">
                            <img class="img7" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_7.png" alt="">
                            <img class="img8" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_8.png" alt="">
                            <img class="img9" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_9.png" alt="">
                            <img class="img10" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_10.png" alt="">
                            <img class="img11" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_11.png" alt="">
                            <img class="img12" src="https://pop.letsun.com.cn/letsunImage/phone/6/6_12.png" alt="">
                        </div>
                    </div>
                </div>

                <!--上一页-->
                <img class="swiper-btn prev-btn" id="prev-btn" src="https://pop.letsun.com.cn/letsunImage/phone/prev.png" alt="" style="display: none;">

                <!--下一页-->
                <img class="swiper-btn next-btn" id="next-btn" src="https://pop.letsun.com.cn/letsunImage/phone/next.png" alt="">
            </div>

            <div class="page page4">
                <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/9/9_1.png" alt="">
                <img class="img2" src="https://pop.letsun.com.cn/letsunImage/phone/9/9_2.png" alt="">
                <img class="img3 ani" src="https://pop.letsun.com.cn/letsunImage/phone/9/9_3.png" alt="" data-animate="fadeIn ease 1s" data-delay="0">
                <img class="img4 ani" src="https://pop.letsun.com.cn/letsunImage/phone/9/9_4.png" alt="" data-animate="fadeIn ease 1s" data-delay="300">
                <img class="img5 ani" src="https://pop.letsun.com.cn/letsunImage/phone/9/9_5.png" alt="" data-animate="fadeIn ease 1s" data-delay="600">
            </div>

            <div class="page page5">
                <img class="img1" src="https://pop.letsun.com.cn/letsunImage/phone/10/10_1.png" alt="">
                <div class="form">
                    <div class="form-item">
                        <div class="form-key">公司名称</div>
                        <div class="form-val">
                            <input type="text" maxlength="30" id="companyName" class="form-input">
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-key">真实姓名</div>
                        <div class="form-val">
                            <input type="text" maxlength="10" id="actualName" class="form-input">
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-key">手机号码</div>
                        <div class="form-val">
                            <input type="text" maxlength="11" id="mobile" class="form-input">
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="form-key">需求详情</div>
                        <div class="form-val">
                            <textarea class="form-textarea" id="demandDetail"></textarea>
                        </div>
                    </div>

                    <div class="form-item form-btn-item">
                        <div class="form-btn" id="form-btn">提&nbsp;&nbsp;&nbsp;&nbsp;交</div>
                    </div>
                </div>
                <img class="img2" src="/images/phone/10/10_10.jpg" alt="">
                <!--<div class="counts-wra">
                    <div class="counts-item">
                        <div class="counts-key">地址：</div>
                        <div class="counts-val">深圳市宝安区F518时尚创意园F6栋3楼</div>
                    </div>
                    <div class="counts-item">
                        <div class="counts-key">地址：</div>
                        <div class="counts-val">深圳市宝安区F518时尚创意园F6栋3楼</div>
                    </div>
                    <div class="counts-item">
                        <div class="counts-key">地址：</div>
                        <div class="counts-val">深圳市宝安区F518时尚创意园F6栋3楼</div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <!--返回顶部-->
    <img class="backTop" id="backTop" src="https://pop.letsun.com.cn/letsunImage/phone/11/11_1.png" alt="">

    <!--底部-->
    <div class="tab">
        <a class="tab-item item-wechat" href="javascript:;">
            <img src="https://pop.letsun.com.cn/letsunImage/phone/1_13.png" alt="">
        </a>
        <a class="tab-item" href="tel:13310858165">
            <img src="https://pop.letsun.com.cn/letsunImage/phone/1_12.png" alt="">
        </a>
    </div>

    <div class="wechat-mask">
        <img class="wechat-img" src="https://pop.letsun.com.cn/letsunImage/phone/wechat.jpg" />
    </div>
</div>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/zepto.min.js"></script>
<script src="/js/lib/zepto.fullpage.js"></script>
<script src="/js/lib/commonPhone.js"></script>
<script src="/plugs/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/js/indexPhone.js"></script>
<script>
    common.loading();
    $('#container').on('touchmove',function (e) {
        e.preventDefault();
    });

    window.onload = function () {
        $(".loading").hide();
        main.init();

        $(".item-wechat").on("click",function() {
           $(".wechat-mask").show();
        });

        $(".wechat-mask:not('.wechat-img')").on("click",function() {
            $(".wechat-mask").hide();
        });

        /**
         * @desc 轮播图配置_2
         */
        var swiper_1 = new Swiper("#swiper_1",{
            loop: true,
            pagination: '.swiper-pagination',
            autoplay: 3000,
            autoplayDisableOnInteraction: false
        });

        /**
         * @desc 轮播图配置_2
         */
        var swiper_2 = new Swiper("#swiper_2",{
            loop: false,
            autoplayDisableOnInteraction: false,
            prevButton: '#prev-btn',
            nextButton: '#next-btn',
            onSlideChangeStart: function(swiper){
                var index = swiper.activeIndex;
                common.removeAni($('#swiper_2 .swiper-slide').find('.ani'));
                if (index == 0) {
                    $('#prev-btn').hide();
                } else {
                    $('#prev-btn').show();
                }

                if (index == 5) {
                    $('#next-btn').hide();
                } else {
                    $('#next-btn').show();
                }

            },
            onSlideChangeEnd: function(swiper){
                var index = swiper.activeIndex;
                common.animate($('#swiper_2 .swiper-slide').eq(index).find('.ani'));
            }
        });
    };
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?40157dba1badf1aa6e585075f31f1cb5";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1261139545'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261139545%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>