<div class="coop-intention">
    <div class="intention-con">
        <div class="intention-left">
            <div class="left-top">
                <p class="red-tit">Hi,Are you ready?</p>
                <p class="tit">准备好开始了吗？<br />那就与我们取得联系吧！</p>
            </div>

            <div class="left-bottom">
                <p class="bottom-desc">
                    有一个智慧营销、防伪溯源项目想和我们谈谈吗？您可以填写右边的表格，让我们了解您的项目需求，这是一个良好的开始，我们会尽快
                    与您取得联系。当然也欢迎您给我们写信或是打电话，让我们听到您的声音！
                </p>

                <div class="bottom-info">
                    <p class="company-name">深圳市立信创源科技有限公司</p>

                    <div class="company-desc">
                        <p>地址：深圳市宝安区F518时尚创意园F6栋3楼301</p>
                        <p>业务热线：13310858165</p>
                        <!--<p>大客户专线：13310856113</p>-->
                        <p>售前QQ：2710161486</p>
                        <p>E-mail：letsun@letsun.com.cn</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="intention-right">
            <p class="right-tit">合作意向表</p>

            <div class="right-form">
                <input class="company" id="company" type="text" placeholder="公司名称" />

                <input class="email" id="email" type="text" placeholder="邮箱" />

                <div class="form-row">
                    <input class="row-input name" id="name" type="text" placeholder="姓名" />
                    <input class="row-input phone" id="phone" type="text" placeholder="电话" />
                </div>

                <p class="multi-tit">您希望我们<br />为您提供什么服务？</p>
                <div class="multi-box">
                    <p class="multi-item" data-value="生产追溯系统">生产追溯系统</p>
                    <p class="multi-item" data-value="渠道流通管理">渠道流通管理</p>
                    <p class="multi-item" data-value="产品防伪">产品防伪</p>
                    <p class="multi-item" data-value="防窜货系统">防窜货系统</p>
                    <p class="multi-item" data-value="渠道营销">渠道营销</p>
                    <p class="multi-item" data-value="消费者促销活动">消费者促销活动</p>
                    <p class="multi-item" data-value="二维码分销系统">二维码分销系统</p>
                    <p class="multi-item" data-value="二维码管理系统">二维码管理系统</p>
                </div>

                <p class="budget-tit">预算</p>
                <div class="budget-box">
                    <div class="budget-radio">
                        <input class="radio" type="radio" name="budget" data-value="5万以下" checked="checked" />&nbsp;5万以下
                    </div>

                    <div class="budget-radio">
                        <input class="radio" type="radio" name="budget" data-value="5-10万" />&nbsp;5-10万
                    </div>

                    <div class="budget-radio">
                        <input class="radio" type="radio" name="budget" data-value="10万以上" />&nbsp;10万以上
                    </div>

                    <div class="budget-radio radio-last">
                        <input class="radio" type="radio" name="budget" data-value="大型招标项目" />&nbsp;大型招标项目
                    </div>
                </div>
            </div>

            <a class="right-btn" href="javascript:;">提交需求</a>
        </div>

        <a class="close-btn" href="javascript:;">
            <img src="/images/7/4_12.png" />
        </a>
    </div>
</div>

<script src="/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/js/lib/coopIntention.js" type="text/javascript"></script>
<script>
    coopIntention.init();
</script>