<div class="header">
	<div class="logo">
		<a href="/"><img src="../images/1/1_1.png" alt="立信创源"></a>
	</div>

	<div class="headBar">
		<ul class="navList">
			<li>
				<a href="/">
					<span>首页</span>
					<span class="en">Home</span>
				</a>
			</li>
			<li class="traceBar">
				<a href="/traceBack.html">
					<span>追溯系统</span>
					<span class="en">Trace</span>
				</a>

				<ul class="secondBar second1">
					<li><a href="/traceBack.html">二维码追溯系统</a></li>
					<li><a href="/traceBackProduce.html">生产追溯系统</a></li>
					<li><a href="/traceBackChannel.html">渠道流通管理</a></li>
					<li><a href="/traceBackPickUp.html">防窜货系统</a></li>
				</ul>
			</li>

			<li>
				<a href="/smartMarketing.html">
					<span>智慧营销</span>
					<span class="en">Product</span>
				</a>
			</li>

			<li class="caseBar">
				<a href="/allCase-1.html">
					<span>客户案例</span>
					<span class="en">Cases</span>
				</a>

				<ul class="secondBar second5">
					<li><a href="/traceCase-1.html">追溯系统案例</a></li>
					<li><a href="/wisdomCase-1.html">智慧营销案例</a></li>
				</ul>
			</li>

			<li class="solutionBar">
				<a href="/solution-<%= navCon.jiejfaList[0].id %>.html">
					<span>解决方案</span>
					<span class="en">Solution</span>
				</a>

				<ul class="secondBar second2">
					<% for(var i = 0;i < navCon.jiejfaList.length;i++) { %>
					<li><a href="/solution-<%= navCon.jiejfaList[i].id %>.html"><%= navCon.jiejfaList[i].name %></a></li>
					<% } %>
				</ul>
			</li>

			<li class="newsBar">
				<a href="/dynamic-1.html">
					<span>新闻资讯</span>
					<span class="en">News</span>
				</a>

				<ul class="secondBar second3">
					<li><a href="/dynamic-1.html">行业动态</a></li>
					<li><a href="/companyNews-1.html">公司新闻</a></li>
				</ul>
			</li>

			<li class="aboutBar">
				<a href="/aboutUs.html">
					<span>关于我们</span>
					<span class="en">About</span>
				</a>

				<ul class="secondBar second4">
					<li><a href="/aboutUs.html">关于立信</a></li>
					<li><a href="/merchants.html">城市合伙人</a></li>
					<li><a href="/customer.html">客户服务</a></li>
					<li><a href="/contactUs.html">联系我们</a></li>
				</ul>
			</li>
		</ul>

		<div class="rightIcon">
			<a href="javascript:;" class="phone">
				<img src="../images/1/1_2.png">
				<span>13310858165</span>
			</a>
		</div>
	</div>
</div>

<script src="/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="/js/lib/header.js" type="text/javascript"></script>
<script>
	header.init();

	// IE6-9禁止复制
	document.body.onselectstart = document.body.ondrag = function(){
		return false;
	}
</script>
