<div class="rightBar">
    <div class="barList">
        <a class="phoneNum" href="javascript:;">
            <img src="/images/2_5.png" alt="联系电话">
            <p><%= commonData.phone %></p>
        </a>

        <a class="qqNum" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=<%= commonData.qq %>&site=qq&menu=yes">
            <img src="/images/2_6.png" alt="联系QQ">
            <p>点击咨询</p>
        </a>

        <a href="javascript:;">
            <img src="/images/2_7.png" alt="立信创源微信二维码">
            <p class="code"><img src="<%= commonData.codeImg %>"></p>
        </a>

        <a href="javascript:;" class="backTop">
            <img class="backBtn" src="/images/1_30_16.png" alt="backTop">
            <div class="topText">回到<br>顶部</div>
        </a>
    </div>
</div>